<!DOCTYPE html>
<html lang="en">
<head>
  <title>Feedback</title>
  <link rel="stylesheet" type="text/css" href="feedback.component.css">
  <script src="https://kit.fontawesome.com/67c66657c7.js"></script>

</head>
<body>
  <section></section>
  <div class="container">
    <form>
      <h1>Feeback</h1>
      <div class="id">
        <input type="text" placeholder="fullname">
      
      </div>
      <div class="id">
        <input type="email" placeholder="Email address">
        
      </div>
      <textarea cols="15" rows="5" placeholder="enter your opinion here"></textarea>
<button><a routerLink="/register">send</a></button>

    </form>
  </div>
  
</body>
</html>